<h1 class="mt-4">Carros</h1>
<ol class="breadcrumb mb-4">
    <li class="breadcrumb-item active">Consulta</li>
</ol>
<div class="container">

    <div class="row">
          <div class="col-md-12">
             <div class="alert alert-success" role="alert" *ngIf="mensagemSucesso">
                {{mensagemSucesso}}
             </div>

             <div class="alert alert-success" role="alert" *ngIf="mensagemErro">
                {{mensagemErro}}
             </div>
             
          </div>
       </div>

    <div class="row">
        <div class="col-md-2">
            <button class="btn btn-warning" (click)="novoCadastro()">
                <i class="fa fa-plus"></i>
                Novo
            </button>
        </div>
    </div>

    <br/>

    <div class="row">
         <div class="col-md-12">
            <table class="table table-condensed table">
                <thead>
                    <tr>
                        <th>ID</th>
                        <th>Ano</th>
                        <th>Placa do carro</th>
                        <th>Modelo</th>
                        <th>Cor</th>
                    </tr>

                </thead>
                <tbody>
                    <tr *ngFor="let carro of carrosList" >
                        <td>{{carro.id}}</td>
                        <td>{{carro.year}}</td>
                        <td>{{carro.licensePlate}}</td>
                        <td>{{carro.model}}</td>
                        <td>{{carro.color}}</td>
                        <td>
                            <button class="btn btn-primary" routerLink="/carros-form/{{carro.id}}">
                                <i class="fa fa-edit"></i>
                            </button>

                            <button class="btn btn-danger" (click)="preparaDelecao(carro)"
                             data-toggle="modal"
                            data-target="#modalDelecao" >
                                <i class="fa fa-trash"></i>
                            </button>
                        </td>
                    </tr>
                </tbody>
            </table>
         </div>
    </div>
    <div id="modalDelecao" class="modal fade" role="dialog">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h4>Confimação</h4>
                </div>
                <div class="modal-body" *ngIf="carroSelecionado">
                 Confirma a exclusão do(a) usuário {{carroSelecionado.licensePlate}} ?
                </div>

                <div class="modal-footer">
                    <button class="btn btn-success" (click)="deletarCarro()" 
                    data-dismiss="modal">Confirmar</button>
                    <button class="btn btn-default" data-dismiss="modal">Cancelar</button>
                </div>
            </div>
        </div>
    </div>
</div>
